html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

/* HOME */

.fondoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}
.fondo {
  /* // para el efecto de movimiento si le doy mas porcentaje del 100 el movimiento sera mas natural */

  width: 120%;
  height: 120%;
  object-fit: cover;
  /* animatione */
  animation: zoomYMovimiento 100s infinite alternate ease-in-out;
}

/* /* keyframes de la animaccione */
@keyframes zoomYMovimiento {
  0% {
    /* ahora no aplico transi */
    transform: scale(1.1) translateX(0);
  }
  50% {
    transform: scale(1.8) translateX(5%);
  }
  100% {
    transform: scale(1.1) translateX(-20%);
  }
}
#homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: whitesmoke;
  text-align: center;
}

.nombre {
  font-size: 64px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;

  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: double;
  margin-top: 2px;
}

.frase {
  font-size: 20px;
  margin-bottom: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.startButton {
  padding: 6px 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: rgba(245, 245, 245, 0.217);
  color: whitesmoke;
  border-radius: 50px;
}

.startButton:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(165, 42, 42, 0.832);
}

.fallButton {
  padding: 6px 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: rgba(245, 245, 245, 0.217);
  color: whitesmoke;
  border-radius: 50px;
}
/* COLORS */
/* fondo negro */
#fondoNegro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  transition: opacity 2s ease;
}

/* // ocultar fondo negro */

#fondoNegro.hidden {
  opacity: 0;
}

/* Fondo de pantalla compartido con la pantalla home */
#colorsContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/f5.png'); /* Utilizamos el mismo fondo */
  background-size: cover;
  background-position: center;
  z-index: -1;
  overflow: hidden;
}

/* Título "COLORS" que aparece al inicio del juego */
#nombre {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;

  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: opacity 2s ease;
  z-index: 1500;
}
#nombre.hidden {
  opacity: 0;
}

#colorsnombre span {
  display: inline-block;
  font-size: 80px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 3px;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Ocultar las cestas de manera visual pero que sigan siendo funcionales */
.cesta {
  display: none; /* Oculto visualmente pero sigue presente en el DOM */
}
/* #Almacen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
} */
/* Estilo para las estelas de color */
.color {
  position: absolute;
  width: 10px;
  height: 80px;
  border-radius: 2px;
  background-color: currentColor;
  box-shadow: 0 0 15px currentColor, 0 0 20px currentColor;
  animation: moverEstela 6s linear forwards;

  /* animation: moverEstela 2s ease-out forwards;animacion moveeement */
}
@keyframes moverEstela {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    /* moving atle direccion */
    transform: translateY(100vh);
    /* mientras avanti desvanenti */
    opacity: 0.8;
  }
}
/* Colores específicos para cada estela */
.color.rojo {
  background-color: rgba(180, 0, 0, 0.76);
}

.color.verde {
  background-color: rgba(9, 194, 9, 0.238);
}

.color.lila {
  background-color: rgba(180, 13, 180, 0.659);
}

.color.amarillo {
  background-color: rgba(177, 174, 17, 0.762);
}

.color.azul {
  background-color: rgba(20, 20, 195, 0.509);
}

.color.gris {
  background-color: rgba(136, 133, 133, 0.868);
}

/* Animación suave de flotación para las estelas de colores */
@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* // final colors */

.resultadoColors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  z-index: 10;
}

.balancedColors,
.unbalancedColors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 30px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  z-index: 1000;
}

.recuentoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease;
}
.colorCont {
  text-align: center;
}

.infoBalanced,
.infoUnbalanced {
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 13px;
  margin: 20px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-transform: uppercase;
}

.helpMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 20;
}

.helpDiv {
  display: flex;
  justify-content: center;
}
.helpSign {
  font-size: 2rem;
}

.butts {
  padding: 6px 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background: rgba(245, 245, 245, 0.217);
  color: whitesmoke;
  border-radius: 50px;
}
.butts:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(165, 42, 42, 0.832);
}

/* //Falling Circles */

#fallingContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/f5.png'); /* Utilizamos el mismo fondo */
  background-size: cover;
  background-position: center;
  z-index: -1;
  overflow: hidden;
}

#ftittle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: whitesmoke;
  opacity: 0;
  transition: opacity 2s ease;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.8;
  }
}

/* .fallname {
  font-size: 60px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px;
  transition: opacity 2s ease;
} */

/* estilado para los sirculete */
.circle {
  position: absolute;
  border: 4px solid whitesmoke;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 10px rgba (255, 255, 255, 0.8); /* brillante*/
  transition: width 1s ease, height 1s ease, transform 1s ease; /* suavizar los changes*/
}

.circleEspecial {
  border-color: rgba(171, 21, 21, 0.665);
  box-shadow: 0 0 10px rgba (255, 255, 255, 0.8);
  animation: opacity 1s ease;
}

/* // efecto desvanecer circulo */
.van {
  opacity: 0;
  animation: vanEfecto 1s forwards;
}

@keyframes vanEfecto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desvan {
  opacity: 1;
  animation: desvanEfecto 1s forwards;
}
@keyframes desvanEfecto {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.van2 {
  opacity: 0;
  animation: vanEfecto2 3s forwards;
}
@keyframes vanEfecto2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circleEspecialCont {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: rgba(171, 21, 21, 0.665);
  border-color: rgba(171, 21, 21, 0.665);
  border: 2px solid;
}

/* .espurna {
  animation: sparkle 1s infinite alternate;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9),
    0 0 30px rgba(255, 255, 255, 0.7);
} */

/* @keyframes sparkle {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9),
      0 0 30px rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
  }
  100% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 1),
      0 0 40px rgba(255, 255, 255, 0.8);
    opacity: 1;
  }
} */

.resultadoFalling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  z-index: 10;
}
.recuentoFalling {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  flex-wrap: nowrap;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  gap: 30px;

  z-index: 10000;
}

.circlesBalance,
.UncirclesBalance {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  word-spacing: 5px;
  letter-spacing: 10px;
  gap: 20px;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  z-index: 1000;
}

/* .circlesBalance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 30px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  z-index: 1000;
} */

/* tac tiki tac */

#ToeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}
#textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: whitesmoke;
  opacity: 1;
  z-index: 2001;
}

.texttoe {
  color: whitesmoke;
  opacity: 1;
  font-size: 24px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
.buttss {
  padding: 6px 18px;
  font-size: 14px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background: rgba(245, 245, 245, 0);
  color: whitesmoke;
  border-radius: 25px;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 1s ease;
}

.buttss:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(165, 42, 42, 0.832);
}

.tituloDivToe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2000;
  color: whitesmoke;
}

.tituloToe {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  transition: opacity 1s ease;
}

.subTT {
  font-size: 24px;
  letter-spacing: 2px;
  transition: opacity 1s ease;
}

/* // formulaire */

#formuPlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 50%;
  gap: 10px;
  margin-top: 50px;
  transform: translate(-50%, -50%); /* // para centrarlo  */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 20px;
  color: whitesmoke;
  z-index: 20000;
}

#formuPlay input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 255, 255, 0.1);
  color: whitesmoke;
  margin: 10px 0px;
}

#formuPlay input::placeholder {
  color: whitesmoke;
  opacity: 0.7;
}

#formuPlay button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#formuPlay button:hover {
  background-color: rgba(197, 183, 183, 0.342);
  color: rgba(165, 42, 42, 0.832);
}

.mesa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centro */

  border: 2px solid whitesmoke;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  z-index: 2000;
}
.rejilla {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  cursor: pointer;
  border: 2px solid whitesmoke;
  transition: background-color 0.3s ease;
  z-index: 2001;
}

.rejilla:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.winner {
  background-color: rgba(25, 202, 25, 0.4);
}

.texturned {
  text-align: center;
  color: whitesmoke;
  font-size: 22px;
  margin-top: 500px;
  margin-bottom: 20px;
  /* font-family: 'Trebuchet MS', Arial, sans-serif; */
}
.vs-text {
  color: whitesmoke;
}
.winText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 2002;
}
#endCont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: whitesmoke;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  opacity: 0;
  animation: fadeIN 1s forwards;
}
@keyframes fadeIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttss,
.finalButts {
  padding: 6px 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background: rgba(245, 245, 245, 0.217);
  color: whitesmoke;
  border-radius: 50px;
  cursor: pointer;
}

.buttss:hover,
.finalButts:hover {
  /* background-color: rgba(255, 255, 255, 0.2);
  color: rgba(165, 42, 42, 0.832); */
  background-color: rgba(0, 0, 0, 0);
  color: rgba(165, 42, 42, 0.832);
}

.drawCont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 2000;
}

.drawMessage {
  font-size: 24px;
  margin-bottom: 20px;
}

.Nofullplayers {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 20;
}
.tituloContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: whitesmoke;
  position: relative;
  z-index: 2000;
  gap: 20px;
  top: 20px; /* // intento centrar en pant
  */
}
.tituloTic {
  text-align: center;
  color: whitesmoke;

  margin-bottom: 5px;
  margin: 10;
  font-size: 42px;
}
.subtituloPlayer {
  font-size: 25px;
  color: rgb(192, 27, 27);
  margin-top: 20px;
  font-weight: lighter;
}

.endtxt {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
  z-index: 2000;
  text-transform: uppercase;
}

/* //entrada final */
.entrada {
  opacity: 0;
  animation: entradaf 1.5s forwards;
}

@keyframes entradaf {
  to {
    opacity: 1;
  }
}
/* casa */
/* mobi */
@media (max-width: 480px) {
  :root {
    --falling-white-circle: 0.3;
  }
  .nombre {
    font-size: 18vw;
  }
  .startButton {
    padding: 1.5vh 4vw;
    font-size: 4.5vw;
  }
}

/* ipad */
@media (min-width: 481px) and (max-width: 1024px) {
  .nombre {
    font-size: 12vw;
  }
  .startButton {
    padding: 2vh 4vw;
    font-size: 3vw;
  }
}

/* //media para colors */
/* miniscreen */
@media (max-width: 480px) {
  #nombre h1,
  .text {
    font-size: 8vw;
  }
  .butts {
    font-size: 3vw;
    padding: 1vh 2vw;
  }
  .recuentoContainer {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }
  .colorCont h3,
  .colorCont p {
    font-size: 3vw;
  }
}

/* middle screen */
@media (min-width: 481px) and (max-width: 1024px) {
  #nombre h1,
  .text {
    font-size: 8vw;
  }
  .butts {
    font-size: 3.5vw;
    padding: 1vh 3vw;
  }
  .recuentoContainer {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .colorCont h3,
  .colorCont p {
    font-size: 3.5vw;
  }
}

/* //media para falling */
/* telefoneria */
@media (max-width: 480px) {
  #ftittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    text-align: center;
    margin-top: 2vh;
  }
  .butts {
    font-size: 4vw;
    padding: 1vh 2vw;
  }
  .recuentoFalling {
    font-size: 4vw;
  }

  .circleEspecialCont {
    width: 50px;
    height: 50px;
  }
  .helpMenu {
    font-size: 4vw;
    padding: 1vh 2vw;
  }
}

/* mmmm tableteria*/
@media (min-width: 481px) and (max-width: 1024px) {
  #ftittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw; /* Tamaño ajustado para tablets */
    text-align: center;
    margin-top: 3vh; /* Espacio superior para separación */
  }
  .butts {
    font-size: 3.5vw;
    padding: 1.5vh 3vw;
  }
  .recuentoFalling,
  .divTextFall {
    font-size: 3.5vw;
  }
  .circleEspecialCont {
    width: 75px;
    height: 75px;
  }
  .helpMenu {
    font-size: 3.5vw;
    padding: 1.5vh 3vw;
  }
}

/* //media para toe */
/* para que lo vea bueno en el siphone*/
@media (max-width: 480px) {
  #ToeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que el contenido esté centrado verticalmente */
    text-align: center;
  }

  #textDiv {
    max-width: 90vw; /* Limita el ancho del texto para evitar desbordamiento */
    padding: 2vh 5vw; /* Añade algo de padding para que no quede pegado a los bordes */
  }

  .textToe {
    font-size: 4vw; /* Tamaño de fuente ajustado para pantallas pequeñas */
    line-height: 1.4; /* Espaciado entre líneas para mejorar la legibilidad */
  }
  .tituloToe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw; /* Tamaño ajustado para pantallas pequeñas */
    text-align: center;
    margin-top: 2vh; /* Espacio superior para separación */
  }
  .tituloContainer {
    margin-bottom: 5vh; /* Espacio debajo del subtítulo para que no toque la mesa */
  }
  .subtituloPlayer {
    font-size: 6vw;
    margin-bottom: 4vh; /* Ajuste adicional para evitar solapamiento */
  }
  .texturned {
    font-size: 4vw;
    margin-top: 4vh; /* Espacio sobre la mesa */
    margin-bottom: 2vh; /* Espacio debajo del texto */
  }
  .buttss {
    font-size: 3.5vw;
    padding: 1vh 3vw;
    margin-top: 2vh; /* Añade un margen superior para separar del texto */
  }
}
/* para tableta mamauevo */
@media (min-width: 481px) and (max-width: 1024px) {
  #ToeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Centra el contenido verticalmente en pantalla */
    text-align: center;
  }

  #textDiv {
    max-width: 80vw; /* Limita el ancho para evitar que el texto se extienda demasiado */
    padding: 3vh 4vw; /* Espacio adicional para una mejor separación de bordes */
  }
  #formuPlay h2 {
    font-size: 4vw;
    font-weight: lighter;
  }
  #formuPlay input {
    width: 80%;
    height: 5vh;
    font-size: 1.5em;
    padding: 1vh 1vw;

    margin-bottom: 2vh;
  }
  #formuPlay button {
    font-size: 2vw;

    background-color: rgba(245, 245, 245, 0.269);
  }

  .textToe {
    font-size: 3.5vw; /* Ajuste del tamaño de fuente para tablets */
    line-height: 1.5; /* Espaciado entre líneas para mejorar la legibilidad */
  }

  .buttss {
    font-size: 5vw;
    padding: 1.5vh 4vw;
    margin-top: 3vh; /* Margen superior para separar el botón del texto */
  }
  .finalButts {
    font-size: 3vw;
    padding: 1vh 3vw;
    margin-top: 3vh;
  }
  .tituloToe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw; /* Tamaño ajustado para tablets */
    text-align: center;
    margin-top: 3vh; /* Espacio superior para separación */
  }
  .tituloContainer {
    margin-bottom: 4vh;
  }
  .subtituloPlayer {
    font-size: 3.5vw;
    margin-bottom: 3vh;
  }
  .texturned {
    font-size: 3.5vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
  .endtxt {
    font-size: 7vw;
  }
}
